<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="images/reddit_logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" type="text/css"/>

    <title>Activity of Questionable Legality</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="app.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>