#logo {
    border-radius: 100%
}

.title, .nav-item, label {
    font-family: "Courier";
    font-weight: bold
}

#navbar {
    background-color: #cccccc
}

.nav-item {
    color: black;
}

body {
    background-image: url("images/supremecourt.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#scrape-btn {
    border: 2px solid black;
    border-radius: 100%;
    font-family: "Courier";
    font-weight: bold;
    width: 100px;
    height: 100px
}

.article-container {
    border: 3px double black;
    background-color: #cccccc;
    opacity: .9
}

.article {
    border: 3px double orange;
}

.img-container {
    float: left
}

.save-btn {
    float: right;
}

